{
  "lists": [
    {
      "store": "Amazon",
      "url": "https://www.amazon.com.br/hz/wishlist/ls/17GNBJPWHR045/ref=nav_wishlist_lists_1?_encoding=UTF8&type=wishlist",
      "category": "Books"
    }
  ]
}
